<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type ="text/css" href="/public/site.css">
</head>
<body>
    
    <main>
        <p>This page will be about shows and searching for shows </p>

        {{{body}}}
    </main>
    <br>
    <br>
    <footer>Dont copy!</footer>
</body>
</html>