<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/public/css/site.css">
    <title>Cookie eating contest</title>
    <meta charset="utf-8">
</head>

<body>
    <main class="container">
        <div class="row">
            <div class="col-sm-6">
                {{{body}}}
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="/public/js/form.js"></script>
    <footer class="feet">Nalluri Arun 10456010 tired of node.</footer>

</body>
</html>