<!DOCTYPE html>
<html lang='en'>
<head>
    <title>
        Ajax Show Search
    </title>
    <link rel="stylesheet" type ="text/css" href="/public/css/site.css">
</head>
    <body>
        <header><h1>Ajax class</h1></header>

        <p>This page will be about shows and searching for shows </p>

        {{{body}}}
    <br>
    <br>
        <footer>Made by Arun Nalluri 10456010</footer>

</body>

</html>